html {
    scroll-behavior: smooth;
    background-color: rgb(247, 184, 255);
}

body {
    font-size: 100%;
}

h1 {
    background: -webkit-linear-gradient(#ff2ce3, #4b3eff);
    background-clip: unset;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.img_round {
    border-radius: 50%;
}

.main_div {
    background-color: white;
    border-style: solid;
    border-color: white;
    border-radius: 16px;
    padding: 16px;
    margin: auto;
    width: max-content;
    max-width:960px;
}

.table {
    padding: 16px;
    width: fit-content;
}

.table_div {
    background-color: white;
    border-style: solid;
    border-color: white;
    border-radius: 16px;
    width: fit-content;
    display: table-cell;
    padding: 16px;
}

#webring {
    font-family: monospace;
    font-size: 1em;
}

a:link {
    color: rgb(212, 0, 255);
    background-color: transparent;
    text-decoration: none;
  }
  
a:visited {
    color: rgb(55, 0, 255);
    background-color: transparent;
    text-decoration: none;
}
  
a:hover {
    color: rgb(255, 0, 179);
    background-color: transparent;
    text-decoration: underline;
}
  
a:active {
    color: rgb(151, 55, 103);
    background-color: transparent;
    text-decoration: underline;
}

.container{
    display: flex;
    max-width:960px;
    margin: auto;
    width: max-content;
}
.fit{
    width: fit-content;
    margin:16px
}